/* https://github.com/AMDRadeonRX6750XT/web-lyrics */

/* the root css which everything is based on */

/* Base Variables for Colors */

/* is this needed here? */
/* template for themes, based on dark.css */
:root {
	--primary-bg: #222222;
	--secondary-bg: #252525;
	--text-color: #cccccc; /* also used for current lyrics */
	--lyrics-color-past: #323232;
	--lyrics-color-future: #838383;
	--highlight-color: #cecece;
	--button-bg: #444444;
	--button-hover-bg: #555555;
	--button-active-bg: #333333;
	--scrollbar-bg: #000000;
	--scrollbar-thumb-bg: #222222;
	--scrollbar-thumb-hover-bg: #252525;
}

/*html, body {margin: 0; height: 100%; overflow: hidden} /* disables scrolling on body */

body {
	background: linear-gradient(var(--primary-bg), var(--secondary-bg));
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: start;
	padding-top: 20px;
	margin: 0;
	min-height: 100vh;
}

/* ++ song selection pop up */
#popupDiv {
	display: none; /* Hidden initially */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 20px;
	background-color: var(--secondary-bg);
	border: 2px solid black;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 1000;
}

#popupDiv ul {
	list-style-type: none;
	padding: 0;
}

#popupDiv a {
	text-decoration: none;
	color: var(--highlight-color);
}

#overlay {
	display: none; /* Hidden initially */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
/* -- song selection pop up */

button {
	background-color: var(--button-bg);
	padding: 0;
	border: none;
	width: 200px;
	height: 40px;
	white-space: nowrap;
}

.active-theme-button {
	background-color: var(--highlight-color);
}

.current-theme-indicator {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--lyrics-color-past); /* other variable? */
}

.theme-button {
	text-align: left;
}

#main-container {
	width: 90%;
	max-width: 800px;
	text-align: center;
}

h1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.links {
	color: var(--text-color);
	/*text-decoration: none;*/
	font-size: 0.8em;
	transition: color 0.3s ease;
}

.links:hover {
	color: var(--highlight-color);
}

.track-details * {
	float: left;
}

.track {
	background-color: var(--primary-bg);
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	text-align: left;
}

.track-info {
	display: flex;
	gap: 10px;
}

#track-cover {
	width: 130px;
	height: 130px;
	background-color: var(--primary-bg);
	border-radius: 5px;
}

.track-title {
	color: var(--text-color);
	font-size: 2.2em;
	font-weight: bold;
	margin: 0;
}

.artist-name {
	color: var(--text-color);
	margin: 0;
}

.music-player {
	padding: 20px;
}

.player-controls {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.player-controls button {
	background-color: var(--button-bg);
	color: var(--text-color);
	padding: 12px;
	border: none;
	border-radius: 50%;
	font-size: 1em;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
}

.player-controls button:hover {
	transform: scale(1.1);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
	background-color: var(--button-hover-bg);
}

.player-controls button:active {
	transform: scale(0.95);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#play-btn {
	font-size: 1.2em;
}

.progress-bar {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	color: var(--text-color);
}

.progress-container {
	flex-grow: 1;
	height: 5px;
	background-color: var(--highlight-color);
	border-radius: 3px;
	position: relative;
}

.progress {
	width: 40%;
	height: 100%;
	background-color: var(--highlight-color);
	border-radius: 3px;
}

.lyrics_box {
	width: 100%;
	height: 300px;
	border: none;
	border-radius: 10px;
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--text-color);
	overflow-y: scroll;
	scroll-behavior: smooth;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lyrics_text {
	transition: 1s;
	font-size: 1.2em;
	line-height: 1.5;
	margin: 8px 0;
	/* no selecting = good */
	user-select: none; /* Standard syntax */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
}

.lyrics_text.past {
	color: var(--lyrics-color-past);
	filter: blur(2px);
}

.lyrics_text.current {
	color: var(--text-color);
	/*font-size: 1.4em;*/
}

.lyrics_text.future {
	color: var(--lyrics-color-future);
	filter:opacity(0.75); /* 25% transparent */
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-bg);
}

@media (max-width: 512px) {
	.container {
		margin: 2% 5%;
	}

	h1 {
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}

	.links {
		float: none; /* I don't think this is needed? */
	}

	.lyrics_text {
		font-size: 1em;
		margin: 0 2%;
	}
}
