/* https://github.com/AMDRadeonRX6750XT/web-lyrics */

/* the root css, meanwhile the default should be dark but can be anything */
/* Base Variables for Colors */
:root {
	--primary-bg: #222222;
	--secondary-bg: #444444;
	--text-color: #cccccc;
	--highlight-color: #8400ff;
	--button-bg: #444444;
	--button-hover-bg: #555555;
	--button-active-bg: #333333;
	--scrollbar-bg: #6a0bc2;
	--scrollbar-thumb-bg: #222222;
	--scrollbar-thumb-hover-bg: #444444;
}

body {
	background: linear-gradient(var(--primary-bg), var(--secondary-bg));
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: start;
	padding-top: 20px;
	margin: 0;
	min-height: 100vh;
}

button {
	background-color: var(--button-bg);
	padding: 0;
	border: none;
	width: 100px;
}

.active-theme-button {
	background-color: var(--highlight-color);
}

.theme-button {
	text-align: left;
}

.container {
	width: 90%;
	max-width: 600px;
	text-align: center;
}

h1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.github-link {
	color: var(--text-color);
	text-decoration: none;
	font-size: 0.8em;
	transition: color 0.3s ease;
}

.github-link:hover {
	color: var(--highlight-color);
}

.track {
	background-color: var(--primary-bg);
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	text-align: left;
}

.track-info {
	display: flex;
	gap: 10px;
}

.track-cover {
	width: 130px;
	height: 130px;
	background-color: var(--primary-bg);
	border-radius: 5px;
}

.track-title {
	color: var(--text-color);
	font-size: 2.2em;
	font-weight: bold;
	margin: 0;
}

.artist-name {
	color: var(--text-color);
	margin: 0;
}

.music-player {
	padding: 20px;
}

.player-controls {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.player-controls button {
	background-color: var(--button-bg);
	color: var(--text-color);
	padding: 12px;
	border: none;
	border-radius: 50%;
	font-size: 1em;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
}

.player-controls button:hover {
	transform: scale(1.1);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
	background-color: var(--button-hover-bg);
}

.player-controls button:active {
	transform: scale(0.95);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.play-btn {
	color: var(--highlight-color);
	font-size: 1.2em;
}

.progress-bar {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	color: var(--text-color);
}

.progress-container {
	flex-grow: 1;
	height: 5px;
	background-color: var(--highlight-color);
	border-radius: 3px;
	position: relative;
}

.progress {
	width: 40%;
	height: 100%;
	background-color: var(--highlight-color);
	border-radius: 3px;
}

.lyrics_box {
	width: 100%;
	height: 300px;
	border: none;
	border-radius: 10px;
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--text-color);
	overflow-y: scroll;
	scroll-behavior: smooth;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lyrics_text {
	transition: 1s;
	font-size: 1.2em;
	line-height: 1.5;
	margin: 8px 0;
}

.lyrics_text.past {
	color: var(--primary-bg);
}

.lyrics_text.current {
	color: var(--text-color);
	/*font-size: 1.4em;*/
}

.lyrics_text.future {
	color: var(--secondary-bg);
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-bg);
}

@media (max-width: 512px) {
	.container {
		margin: 2% 5%;
	}

	h1 {
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}

	.github-link {
		float: none;
	}

	.lyrics_text {
		font-size: 1em;
		margin: 0 2%;
	}
}
