/* Candy (Pink) Theme */
:root {
	--primary-bg: #ce2b64; /* light pink background */
	--secondary-bg: #b65278; /* slightly darker pink for secondary elements */
	--text-color: #ff3d9e; /* vibrant pink for text */
	--lyrics-color-past: #aa5b79; /* soft pastel pink for past lyrics */
	--lyrics-color-future: #c46d8f; /* slightly darker pink for future lyrics */
	--highlight-color: #ff4da6; /* bright pink for highlights */
	--button-bg: #ff99cc; /* candy pink for buttons */
	--button-hover-bg: #ff80bf; /* darker candy pink for button hover */
	--button-active-bg: #ff66b2; /* even darker pink for button active state */
	--scrollbar-bg: #ffe3ed; /* same as primary background */
	--scrollbar-thumb-bg: #ff66b2; /* pink for scrollbar thumb */
	--scrollbar-thumb-hover-bg: #ff4da6; /* brighter pink for scrollbar thumb hover */
}