:root {
	--primary-bg: #121212;
	--secondary-bg: #1f1f1f;
	--text-color: #e0e0e0;
	--highlight-color: #bb86fc;
	--button-bg: #3700b3;
	--button-hover-bg: #6200ea;
	--button-active-bg: #3700b3;
	--scrollbar-bg: #6200ea;
	--scrollbar-thumb-bg: #3700b3;
	--scrollbar-thumb-hover-bg: #bb86fc;
}
