:root {
	--primary-bg: #222222;
	--secondary-bg: #444444;
	--text-color: #cccccc;
	--lyrics-color-past: #323232;
	--lyrics-color-future: #838383;
	--highlight-color: #cecece;
	--button-bg: #444444;
	--button-hover-bg: #555555;
	--button-active-bg: #333333;
	--scrollbar-bg: #000000;
	--scrollbar-thumb-bg: #222222;
	--scrollbar-thumb-hover-bg: #444444;
}
/*body {
	background-image: url("dark.jpeg");
	background-repeat: no-repeat;
}*/