/* https://github.com/AMDRadeonRX6750XT/web-lyrics */

body {
	background: linear-gradient(#222222 10%, #444444);
	color: #cccccc;
}

button {
	background-color: #222222;
	color: #cccccc;
	padding: 2%;
}

audio::-webkit-media-controls-panel {
	background-color: #aaaaaa;
}


.lyrics_box {
	border: 5px solid black;
	border-radius: 10px;
	background-color: #8a2be2;
}

.lyrics_text {
	transition: 2s;
	color: #bbbbbb;
	cursor: default;
}

.lyrics_text:hover {
	transition: 0.5s;
	color:#8400ff;
}


/* ++ scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #6a0bc2;
}

::-webkit-scrollbar-thumb {
	background: #222222;
}

::-webkit-scrollbar-thumb:hover {
	background: #444444;
}

/* -- scrollbar */
