:root {
	--primary-bg: #1b2b1f; /* Dark green background */
	--secondary-bg: #2a3d28; /* Lighter dark green for secondary elements */
	--text-color: #e0f4e5; /* Light greenish text */
	--lyrics-color-past: #334d32; /* Darker green for past lyrics */
	--lyrics-color-future: #8fae81; /* Muted green for future lyrics */
	--highlight-color: #a1dba5; /* Soft light green highlight */
	--button-bg: #2a3d28; /* Green button background */
	--button-hover-bg: #3b4d3b; /* Slightly lighter green for hover */
	--button-active-bg: #1c2c1c; /* Darker green for active buttons */
	--scrollbar-bg: #1a261a; /* Dark green for scrollbar background */
	--scrollbar-thumb-bg: #2a3d28; /* Greenish thumb */
	--scrollbar-thumb-hover-bg: #3b4d3b; /* Slightly lighter green thumb on hover */
}