:root {
	--primary-bg: #1b5e20;
	--secondary-bg: #388e3c;
	--text-color: #a5d6a7;
	--lyrics-color-past: #323232;
	--lyrics-color-future: #838383;
	--highlight-color: #4caf50;
	--button-bg: #2e7d32;
	--button-hover-bg: #388e3c;
	--button-active-bg: #43a047;
	--scrollbar-bg: #43a047;
	--scrollbar-thumb-bg: #388e3c;
	--scrollbar-thumb-hover-bg: #4caf50;
}
