:root {
	--primary-bg: #ffffff;
	--secondary-bg: #f5f5f5;
	--text-color: #000000;
	--lyrics-color-past: #323232;
	--lyrics-color-future: #838383;
	--highlight-color: #6200ea;
	--button-bg: #3f51b5;
	--button-hover-bg: #5c6bc0;
	--button-active-bg: #3949ab;
	--scrollbar-bg: #3f51b5;
	--scrollbar-thumb-bg: #1e88e5;
	--scrollbar-thumb-hover-bg: #303f9f;
}