:root {
	--primary-bg: #1a0000; /* Dark red background */
	--secondary-bg: #330000; /* Slightly lighter red for secondary backgrounds */
	--text-color: #ffcccc; /* Light red/pinkish color for text */
	--lyrics-color-past: #3d0000; /* Darker red for past lyrics */
	--lyrics-color-future: #b36666; /* Lighter red for future lyrics */
	--highlight-color: #ff6666; /* Red highlight color */
	--button-bg: #660000; /* Dark red button background */
	--button-hover-bg: #7f0000; /* Lighter red on hover */
	--button-active-bg: #4c0000; /* Even darker red when button is active */
	--scrollbar-bg: #1a0000; /* Dark red scrollbar background */
	--scrollbar-thumb-bg: #660000; /* Dark red scrollbar thumb */
	--scrollbar-thumb-hover-bg: #7f0000; /* Lighter red scrollbar thumb on hover */
}