/* https://github.com/AMDRadeonRX6750XT/web-lyrics */

body {
	background: linear-gradient(#222222 10%, #6a0bc2);
	color: #cccccc;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}

button {
	background-color: #222222;
	color: #cccccc;
	padding: 2%;
}


.github-link {
	float: right;
	white-space: nowrap;
}

@media (max-width: 512px) {
	.github-link {
		float: none;
	}
}

audio {
	width: 100%;
}

audio::-webkit-media-controls-panel {
	background-color: #aaaaaa;
}


.lyrics_box {
	width: 100%;
	height: 700px;
	border: 5px solid black;
	border-radius: 10px;
	margin-top: 5%;
	background-color: #8a2be2;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.lyrics_text {
	transition: 2s;
	color: #bbbbbb;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	cursor: default;
	user-select: none; /* Standard syntax */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
}


/* ++ scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #6a0bc2;
}

::-webkit-scrollbar-thumb {
	background: #222222;
}

::-webkit-scrollbar-thumb:hover {
	background: #444444;
}

/* -- scrollbar */
